@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: black;

}



.hidden{
    visibility: hidden;
}

.block{
    display: block;
    color: white;
    font-size: 125px;
    position: absolute;

}


ul,li{
    list-style-type:none;
}

a{
    text-decoration: none;
    color: white;
}


*{
    box-sizing: border-box;
}



.logo{
    animation: logoanim 3s infinite linear;
}


.arrow-down{
    font-size: 12px;
}


