@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');





.header{
  height: 150px;
  width: 100vw;
  background-color:#141415;
  align-items: center;
  display: flex;
  justify-content: space-around;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;

  font-style: normal;
  font-style: normal;
  font-weight: 0;
  margin-bottom: 350px;


  .logo img{
    height: 95px;
    width: 125px;


  }

  nav{

    ul{
      display: flex;
      font-size: 14px;
      text-transform: capitalize;
      gap: 15px;
    }


    & li{
      cursor: pointer;
      font-size: 14px;
       &:hover{
         text-decoration: underline;

       }
       &:hover:first-letter{

         color:rgb(188, 140, 255);
         transition: color .4s ease;


       }
    }

  }



}





.consult{
  animation: consult 1s 1;
  width: 30%;
  height: 75%;
  border-radius: 15px;
  position: fixed;
  left: calc(50% - 15%);
  top: calc(50% - 37%);
  box-shadow: inset 0 0 0 3000px rgba(133, 133, 133, 0.15);
  backdrop-filter: blur(5px);

  background-image: url(".././public/consult_card_elem.png");
  background-size: 500px;
  background-position: -250px 150px;
  background-repeat: no-repeat;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  &_closewindow{
    color: gray;
    opacity: .1;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

  }
  & button{
    width: 200px;
    height: 50px;
    border: none;
  border-radius: 15px;
    box-shadow: 0px 0px 15px mediumvioletred;
    color: white;
    background: none;

    &:hover{
      transition: all .2s ease-in;
      cursor: pointer;
      transform: translateY(-1px);
      box-shadow: 0px 0px 25px mediumvioletred;
    }
  }


  & img{
    width: 150px;
    border-radius: 15px;
    align-self: center;
    box-shadow: inset 5px 5px 15px black;
  }




   & form {

     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 25px;
     font-family: "Martian Mono";

      & input{
        width: 50%;
        padding: 10px;
        height:3rem;
        border:none;
        background: none;
        outline: none;
        box-shadow: inset 5px 5px 15px black;
        color: white;
        font-family: sans-serif;
        font-size: 12px;

        border-radius: 10px;

        &::placeholder{
          opacity: .3;
        }
      }



   }

}



.select{

    width: 50%;
    height: 3rem;
  font-family: "Martian Mono";
   border: 1px solid mediumvioletred;
   border-radius: 8px;
   outline: none;

  & option{
    font-family: "Martian Mono";
  }
}


.order{
  border: 1px solid rgb(188, 140, 255) ;
  height: 50px;
  width: 200px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 12px;

  &:hover{
    border:2px solid white;
    cursor:pointer;

    transition: all .1s ease-in;
  }


}


.main{

  width: 80vw ;
  margin: 0 auto;



}




@keyframes logoanim {

  0%{
    opacity: 1;
  }

  50%{opacity: .5}

  100%{
    opacity: 1;
  }
}


.sectionheader{
  color: white;
  font-size: 56px ;
  font-family: "Martian Mono", monospace;
  font-optical-sizing: auto;

  font-style: normal;
  font-variation-settings:
          "wdth" 100;

  margin-bottom: 5svmax;
}


.question{
  animation: blink 3s infinite linear;
}





.maindesignelems{
  position: absolute;
  right:0px;
  top: 50%;
  z-index: -100;
   & img{
     width: 368px;
     height: 698px;
     opacity: 1;
   }
}


.cooperate{
   margin-bottom:240px;
  margin-top: 120px;
  opacity: .5;
   color: gray;
  font-size: 22px;
  font-family: sans-serif ;


     & .main_logos{
       margin-top: 20px;
       display: flex;
       gap: 25px;
     }

   & img{
     width: 70px;
     height: 70px;
     background-color: white;
     border-radius:15px;
   }
}





.about{
    display: flex;
    justify-content: left;
    align-items: center;
    width: 80vw;
    height: 100vh;
    animation: view 2s 1;


}






.courses{
  display: flex;
  flex-direction: column;

  height: 100vh;
  width: 80vw;
  color: white;
  justify-content: space-around;
  margin:0 auto;


  
   &_header{

     text-align: right;
     letter-spacing: 5px;
     font-size: 32px;
     font-family: 'Jura';
     animation: show 2s 1;
   }


  &_classic_card{
    animation: apperance 1s 1;
    width: 360px;
    height: 360px;
    padding:  30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background: linear-gradient(40deg,#0b0d0f,#1a1d21,#292e36);
    transition: all .3s ease;
    &:hover{


      transition: all .3s ease-in-out;
      transform: translateY(-15px);
      & button{
        color: white;
        &:hover{
          box-shadow: 0px 0px 5px #fa0056;
          cursor: pointer;
        }
      }
    }


    &_header{
      font-size: 22px;
      font-family: "Martian Mono";
    }

    &_title{
      font-size: 14px;
      font-family: Play;

    }

    & button{
      width: 200px;
      height: 50px;
      outline: none;
      border: none;
      background: none;
      border-radius: 15px;
      color: white;
      box-shadow: 0px 0px 5px white;


    }

  }

  &_react_card{
    animation: apperance 2s 1;
    width: 360px;
    height: 360px;
    padding:  30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    box-shadow: 0px 0px 5px gray;
    background: url("../public/classic_module.png");
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: bottom right;

    transition: all .3s ease;
    &:hover{
      background-color:whitesmoke ;
      color: black;

       transform: translateY(-15px);
      & button{
        color: black;
        box-shadow: 0px 0px 5px blue;
        transition: all .3s ease;
        &:hover{
          background-color: rgb(199, 21, 133);
          box-shadow: none;
          backdrop-filter: blur(10px);
          color: white;
          cursor: pointer;
        }
      }
    }

    & button{
      width: 200px;
      height: 50px;
      outline: none;
      border: none;
      background: none;
      border-radius: 15px;
      color: white;
      box-shadow: 0px 0px 5px white;


    }

  }

 &_prof_card{
   animation: apperance 3s 1;
   position: relative;
   width: 360px;
   color: black;
   height: 360px;
   padding:  30px;
   border-radius: 15px;
   display: flex;
   background-color: whitesmoke;
   flex-direction: column;
   align-items: flex-start;
   justify-content: space-evenly;
   box-shadow: 0px 0px 5px gray;
  overflow: hidden;
   transition: all .3s ease;

   &:hover{
     background-color:black ;
     color: white;

     transform: translateY(-15px);
     & button{
       color: white;
       box-shadow: 0px 0px 5px orange;
       transition: all .3s ease;
       &:hover{
         color: white;
         box-shadow:none ;
         background-color: rgba(255, 165, 0, 0.6);
         backdrop-filter: blur(10px);
         cursor: pointer;
       }
     }
   }


   &:before {
     content: "";
     position: absolute;

     bottom: -50px;
     right: -20px;
     width: 250px;
     height: 250px;
     background-image: url('../public/prof_card.png');
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;

     transform: scaleX(-1);
   }

   & button{
     z-index: 1;
     width: 200px;
     height: 50px;
     outline: none;
     border: none;
     background: none;
     border-radius: 15px;
     color: black;
     box-shadow: 0px 0px 5px black;
   }

 }


  &_content{

    display: flex;
  justify-content: space-around;



  }
  
}





.feedbacks{
  display: flex;
  height: 100vh;
}



.contacts {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: flex-end;
  background:linear-gradient( #141415,black);
 animation: show 1s 1 ;

  &_tme {
    font-size: 14px;
    width: 33%;
    background:linear-gradient(black,#24292e);
    border-radius: 25px 25px 0px 0px;
    height: 90vh;
    background-repeat: no-repeat;
    display: flex;
    text-transform: uppercase;
    justify-content: center;
    gap: 15px;
    flex-direction: column;
    align-items: center;
    color: white;
    font-family: "Martian Mono";



    & input {
      width: 15vw;
    }

    & label{
      display: flex ;
      flex-direction: row-reverse;
      align-items: center;
       & input{
         width: 20px;
       }

      & span{
        font-size: 10px;
        width: 300px;
      }
    }

    & input[type="submit"]{
      width: 10vw;
    }
  }

    &_other {

      display: flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      width: 33%;
      height: 90vh;
      
   & nav{
     font-family: "Jura";
     font-size: 16px;


      & ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

   }





      & img{
        width: 50px;
        height: 50px;
        filter: grayscale(1);
        transform-style: preserve-3d;
        &:hover{
          filter: grayscale(0);
          cursor: pointer;
          animation: circle 1s 1;
          transition: all .2s  ease;
        }
      }


     & div{

         width: 100%;
         height: calc(100% / 3);
         display: flex;
       justify-content: center;
       align-items: center;
     }


    }






    &_email {
      display: flex;
      align-items: center;


      color: white;
      margin-left: 100px;
      font-family: "Martian Mono", monospace;
      width: 30%;
      height:90vh;
      letter-spacing: 1px;;
      font-size: 22px;

      & a {
        position: relative;
        font-size: 20px;
      }

      & a:after {
        transition: .3s all ease;
        content: '';
        width: 370px;
        height: 7px;
        position: absolute;
        background-color: violet;
        opacity: .5;
        left: 0;
        bottom: 0;
      }

      & a:hover:after {
        content: '';
        width: 370px;
        height: 12px;
        position: absolute;
        background-color: violet;
        opacity: .5;
        left: 0;
        bottom: 0;
      }
    }



}




.footer_info{
  background-color: #0c0c0c;
  position: absolute;
  justify-content: center;
  left: 0;

  width: 100vw;
  height: 50px;
  display: flex;
  align-items: center;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
}




.about_info{
  width: 100vw;
  display: flex;
  z-index: 1000;

  background-color: #141415;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 300px;

  &_button{
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    background-color: #a20043;
    color: white;
    right: 50px;
    bottom: 50px;
    width: 120px;
    font-size: 13px;
    opacity: .3;
    height: 50px;
    transition: all .3s ease;
    cursor: pointer;


    &:hover{
      opacity: 1;
      transform: translateX(-10px);

    }

  }

  &_button:before{
    content: url(".././public/arrow_back.png");
    position: absolute;
    left: 10px;
    top: 25%;

  }

  &_classic{
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    animation:apperance 1s 1;
    width: 450px;
    height: 1200px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px gray;



   &_main{
     color: white;
     display: flex;
     align-items: flex-start;
     flex-direction: column;
     padding: 30px 30px 0 30px;

     justify-content: flex-start;
   }

   &_footer{
    color: white;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 0 30px;
    justify-content: flex-start;
    & button{
      font-family: "Play", sans-serif;
      align-self: center;
      width: 50%;

      
      color: white;
      height: 50px;
      border-radius: 15px;
      backdrop-filter: blur(10px);
      background:none;
      border: none;
      box-shadow: 0px 0px 10px white;

      &:hover{
        box-shadow: 0px 0px 20px white;
        transition: all .2s ease;
        cursor: pointer;
        transform: translateY(-5px);
      }
     }
   }



    &_header{
      width: 100%;
      height: 15vh;
      border-radius: 15px 15px 0 0;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 24px;
      font-weight: 700;

      font-family: "Jura", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      background: url(".././public/redeyes.jpeg");
      background-size: cover;
      filter: contrast(.5);
     background-position: center center;
    }

  }

  &_react{
    animation:apperance 2s 1;
    width: 450px;
    height: 1200px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 50px;
    &_header{
      width: 100%;
      height: 15vh;
      border-radius: 15px 15px 0 0;

      background: url(".././public/blueeyes.jpeg");
      background-size: 700px;

      filter: contrast(.5);
      background-position: left -30px;
    }

    &_footer{
      color: white;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 30px;
      justify-content: flex-start;
  
      & button{
        font-family: "Play", sans-serif;
        align-self: center;
        width: 50%;
        color: white;
        height: 50px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        background:none;
        border: none;

        box-shadow: 0px 0px 15px white;
        &:hover{
          box-shadow: 0px 0px 20px white;
          transition: all .2s ease;
          cursor: pointer;
          transform: translateY(-5px);
        }
       }
     }
  
  }

  &_prof{
    animation:apperance 3s 1;
    width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 1200px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px gray;
    padding-bottom: 50px;
    &_header{
      width: 100%;
      height: 15vh;
      border-radius: 15px 15px 0 0;

      background: url(".././public/profeyes.jpeg");
      background-size: cover;
      filter: contrast(.5);
      background-position: center center;
    }
    &_footer{
      color: white;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      padding: 0 30px;
      justify-content: flex-start;
  
       & button{
        font-family: "Play", sans-serif;
        align-self: center;
        width: 50%;
        color: white;
        height: 50px;
        border-radius: 15px;
        backdrop-filter: blur(10px);
        background:none;
        border: none;
        box-shadow: 0px 0px 15px white;
         &:hover{
           box-shadow: 0px 0px 20px white;
           transition: all .2s ease;
           cursor: pointer;
           transform: translateY(-5px);
         }
       }
     }
  
  }
}


.about_line{

  position: relative;
  width: 2px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.49);
  opacity: .2;


  &:before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    position: absolute;
   top:0;
    left: calc(50% - 5px);
  }


}

.card_flex{
  opacity: .8;
  display: flex;
  justify-content: space-between;


   &:first-child{
     font-family: 'Jura';
     font-size: 14px;
     color: whitesmoke;

   }



  gap: 15px;
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;

}









.material_info:hover{
  transition: all .2s ease;
  color: cyan;
  cursor: pointer;
  transform: translateX(5px);
  
}

.codeblock{
 box-shadow: 0px 0px 5px white;
 border-radius: 15px;
 color-scheme: dark;



  &_header{
    background-color: #24292e;
    height: 30px;
    width: 1000px;
    border-radius: 15px 15px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: right;

    & div{
      width: 10px;
      height: 10px;
      border-radius: 50%;
     background-color: green;
      margin-left: 10px;
    }

    & div:nth-of-type(1){
      background-color:#03d544 ;
    }

    & div:nth-of-type(2){
      background-color:#ffbe03;
    }

    & div:nth-of-type(3){
      background-color: #ff4545;
      margin-right: 10px;
    }
  }

  &_body{




    color: rgba(255, 255, 255, 0.75);
    font-family: monospace;
    display: flex;
    background-color: #24292e;


    &_icons{
      display: flex;
      flex-direction: column;
     gap: 25px;
    }


    &_icons img{
       opacity: .4;
       width: 40px;

   background-color: #24292e !important;
   color: #24292e !important;
    }



    &_content{

      width: 850px;
      padding:11px;
      font-family: monospace;

      font-size: 14px;
      line-height: 20px;
    }

    &_counter{

      & ul li{
        margin-bottom: 3px;
        font-size: 14px;
        color: #4f4f54;
      }

      width: 100px;
      font-family: monospace;
      display: flex;

      align-items: flex-start;
      justify-content:space-around;
      color: white;
      background-color: #24292e;
    }


  }



  &_footer{
    border-radius: 0px 0px 15px 15px;
    height: 30px;
    width: 1000px;
    background-color: #24292e;
  display: flex;
    align-items: center;
    justify-content: flex-start;
  color: gray;
  gap: 5px;
    font-family: monospace;
    & img{
      opacity: .5;
      width: 11px;
     margin-left: 10px;

    }
  }
}




.edumode{

  width: 800px;
  height: 600px;
  border-radius: 15px;

}

.message_confirm{
  animation: consult 1s 1 ;
  width: 500px;
  height: 400px;
  position: fixed;
  left: calc(50% - 250px);
  top: calc(50% - 200px);
  border-radius: 15px;
  background-image:linear-gradient(40deg, black, #343434);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  color: white;

  justify-content: space-evenly;
  align-items: center;


  font-family: 'Martian Mono';
  font-size: 14px;

  & h3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'Martian Mono';
    gap: 15px;

     & img{
       filter: drop-shadow(0px 0px 5px white);
     }
  }


  &_email{
    width: 300px;
    height: 50px;
    outline: none;
    border: 1px solid blue;
    border-radius:10px;
    background: none;
    color: white;
    &::placeholder{
      font-size: 12px;
      text-align: center;
    }


  }

  &_btn{
    background: none;
    outline: none;
    border: none;
  transition: all .2s ease;
    cursor: pointer;
  &:hover{
    transform: translateX(15px);
  }
  }

  &_msg{
    overflow: hidden;
    width: 90%;
    padding: 5%;
    height: 40%;
    border-radius:15px;
    box-shadow: 0px 0px 5px whitesmoke;
   backdrop-filter: blur(10px);
  }


  &_form{
    display: flex;
    align-items: center;
    justify-content: space-between;

  }






}




@keyframes blink {

  0%{
    opacity: 0;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity:0;
  }

}



@keyframes circle{

  100%{
    transform: rotateY(360deg);
  }

}

@keyframes circle3d{

  100%{
    transform: rotate(360deg);
  }

}

@keyframes apperance{

  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);}
}

@keyframes view {


  0%{
    opacity: 0;
    transform: translateX(-150px);
  }
  100%{
    opacity: 1;

    transform: translateX(0px);
  }

}


@keyframes consult{
  0%{
    opacity: 0;
    transform: translateY(10vh);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}


@keyframes show{

  0%{opacity: 0}
  100%{opacity: 1}
}


@media screen and (max-width: 1200px) {

  .maindesignelems{
    opacity: .3;
  }

}

@media screen and (max-width:720px){
 
  .sectionheader{
    font-size: 44px;
  }


}












