@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #141415;
    overflow-x: hidden;
}



.hidden{
    visibility: hidden;
}

.block{
    display: block;
    color: white;
    font-size: 125px;
    position: absolute;

}


ul,li{
    list-style-type:none;
    padding: 0;
}

a{
    text-decoration: none;
    color: white;
}


*{
    box-sizing: border-box;
}



.logo{
    animation: logoanim 3s infinite linear;
}


.arrow-down{
    font-size: 12px;
}



.succesfuly_message{
    color: green;
}

.class{
    color: orange;
}

.error{
    color: red;
}

.comment{
    color: #03d544;
}

.code{
    color: #64faec;
}

.headercons{

    text-align: center;
    font-family: 'Martian Mono', monospace;
    font-size: 16px;
}




.choise_elements{
        color: white;
        opacity: 1 !important;
        padding-bottom: 5px;
        border-bottom: 2px solid white;
}


.import{

    color: #ec83e7;
}



.center{
   align-self: flex-end;

}

